a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.main-container {
    width: 400px;
    margin: 100px auto;
}

.form-container {
    width: 80%;
    margin: 60px auto;
}

form h2 {
    margin-bottom: 30px;
}

.input-control {
    border: none;
    background: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-radius: 0px;
}

.input-control::placeholder {
    font-weight: 900;
    color: rgb(128, 128, 128);
}

.must-item {
    text-align: left;
}

fieldset legend {
    font-size: 0.8em;
}

.lbl {
    font-size: 1.2em;
    color: black;
}

.login-control {
    background-color: #fee500;
    border-color: #fee500;
    height: 50px;
    font-weight: 900;
    margin: 30px 0px;
}

.demo-box {
    color: red;
    font-size: 0.8em;
}

.form-foot {
    font-size: 0.8em;
    color: gray;
    font-weight: 900;
    height: 20px;
}

footer {
    text-align: center;
    color: gray;
    font-size: 0.8em;
}

div.control-r:hover {
	cursor: pointer;
	opacity: 0.7;
}